# name: CI
# on: [push]
# jobs:
#     install-and-test:
#       runs-on: ubuntu-latest

#       strategy:
#         matrix:
#           node-version: [16.x]

#       steps:
#         - uses: actions/checkout@master

#         - name: Set up Node.js ${{ matrix.node-version }}
#           uses: actions/setup-node@master
#           with:
#             node-version: ${{ matrix.node-version }}

#         - name: Install packages
#           run: npm install --frozen-lockfile

#           env:
#             CI: true

#         - name: Checkout
#           uses: actions/checkout@v2

#         - name: Login to Docker Hub
#           uses: docker/login-action@v1
#           with:
#             username: ${{ secrets.DOCKER_HUB_USERNAME }}
#             password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

#         - name: Set up Docker Buildx
#           uses: docker/setup-buildx-action@v1

#         - name: Build and push
#           uses: docker/build-push-action@v2
#           with:
#             context: .
#             file: ./Dockerfile
#             push: true
#             tags: ${{ secrets.DOCKER_HUB_USERNAME }}/numer:latest

name: CI/CD pipeline Heroku

on:
  push:
    branches: [ master ]

jobs:
  build-and-deploy-to-heroku :
      concurrency: ci-${{ github.ref }} 
      runs-on: ubuntu-latest
      environment: 
        name: Production
        url: https://numer-nuxt.herokuapp.com/

      steps:
      - name: Checkout 
        uses: actions/checkout@v2

      - name: Install 
        run: npm install

#       - name: Test
#         run: npm test
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.12.12 
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "numer-nuxt" 
          heroku_email: "thanathon.first2509@gmail.com"
